src/main/webapp/WEB-INF/webservice/RecordService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:rc="http://www.sdhuijin.cn/vms/ws/RecordServcie/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecordService" targetNamespace="http://www.sdhuijin.cn/vms/ws/RecordServcie/">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.sdhuijin.cn/vms/ws/RecordServcie/">
      <xsd:element name="RecordRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="controllerSn" type="xsd:string"/>
            <xsd:element name="readerNumber" type="xsd:string"/>
            <xsd:element name="cardNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="RecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="command" type="xsd:string"/>
            <xsd:element name="gateNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="RecordRequest">
    <wsdl:part element="rc:RecordRequest" name="RecordRequest"/>
  </wsdl:message>
  
  <wsdl:message name="RecordResponse">
    <wsdl:part element="rc:RecordResponse" name="RecordResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="RecordService">
    <wsdl:operation name="record">
      <wsdl:input message="rc:RecordRequest"/>
      <wsdl:output message="rc:RecordResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="RecordServiceBinding" type="rc:RecordService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="record">
      <soap:operation soapAction="http://www.sdhuijin.cn/vms/ws/RecordService/record"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="RecordService">
    <wsdl:port binding="rc:RecordServiceBinding" name="RecordServicePort">
      <soap:address location="http://www.sdhuijin.cn/vms/ws/RecordServcie/record"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
